@font-face {
	font-family: 'Century Gothic';
	src: url('../fonts/century_gothic.eot'); /* IE 9 Compatibility Mode */
	src: url('../fonts/century_gothic.eot?#iefix') format('embedded-opentype'), /* IE < 9 */
		url('../fonts/century_gothic.woff2') format('woff2'), /* Super Modern Browsers */
		url('../fonts/century_gothic.woff') format('woff'), /* Firefox >= 3.6, any other modern browser */
		url('../fonts/century_gothic.ttf') format('truetype'), /* Safari, Android, iOS */
		url('../fonts/century_gothic.svg#century_gothic') format('svg'); /* Chrome < 4, Legacy iOS */
}

:root {
--bg-color:#0e1a20;
--brown-color:#846743;
--white-color:#e8e8e8;
}

html {
    box-sizing: border-box;
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    margin: 0;
    font-family: 'Century Gothic';
}

main {
    display: block;
}

h1,h2,h3,h4,h5,h6{
    margin: 0;
}

p{
    margin: 0;
}

hr {
    box-sizing: content-box;
    height: 0;
    overflow: visible;
}



pre {
    font-family: monospace, monospace;
    font-size: 1em;
}



a {
    background-color: transparent;
}



abbr[title] {
    border-bottom: none;
    text-decoration: underline;
    text-decoration: underline dotted;
}

b,
strong {
    font-weight: bolder;
}

code,
kbd,
samp {
    font-family: monospace, monospace;
    font-size: 1em;
}

small {
    font-size: 80%;
}

sub,
sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}

sub {
    bottom: -0.25em;
}

sup {
    top: -0.5em;
}

img {
    border-style: none;
}

button,
input,
optgroup,
select,
textarea {
    font-family: inherit;
    font-size: 100%;
    line-height: 1.15;
    margin: 0;
}

button,
input {
    overflow: visible;
}



button,
select {
    text-transform: none;
}


button,
[type="button"],
[type="reset"],
[type="submit"] {
    -webkit-appearance: button;
}

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
    border-style: none;
    padding: 0;
}

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
    outline: 1px dotted ButtonText;
}

fieldset {
    padding: 0.35em 0.75em 0.625em;
}

legend {
    box-sizing: border-box;
    color: inherit;
    display: table;
    max-width: 100%;
    padding: 0;
    white-space: normal;
}

progress {
    vertical-align: baseline;
}

textarea {
    overflow: auto;
}

[type="checkbox"],
[type="radio"] {
    box-sizing: border-box;
    padding: 0;
}


[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
    height: auto;
}

[type="search"] {
    -webkit-appearance: textfield;
    outline-offset: -2px;
}

[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
}

::-webkit-file-upload-button {
    -webkit-appearance: button;
    font: inherit;
}

details {
    display: block;
}

summary {
    display: list-item;
}

template {
    display: none;
}

[hidden] {
    display: none;
}


.header {
background-color: var(--bg-color);
max-height: 153px ;
}

.header__flex {
display: flex;
justify-content: space-between;
align-items: center;
}
.header__logo {
    padding-top: 20px;
    padding-left: 50px;
}
.header__flex-items {
    display: flex;
    
}
.header__item  {
    color: var(--white-color);
    margin-right: 60px;
    font-size: 25px;
    
}

.header__item a {
    position: relative;
	color: var(--white-color); /*задаём цвет ссылки*/
	cursor: pointer;
	line-height: 1; /*задаём высоту строки*/
	text-decoration: none; /*убираем подчёркивание*/
}

.header__item a:after {
	display: block;
	position: absolute;
	left: 0; /*изменить на right:0;, чтобы изменить направление подчёркивания */
	width: 0;/*задаём длинну линии до наведения курсора*/
	height: 2px; /*задаём ширину линии*/
	background-color: var(--brown-color); /*задаём цвет линии*/
	content: "";
	transition: width 0.3s ease-out; /*задаём время анимации*/
}

.header__item a:hover:after,
.header__item a:focus:after {
	width: 100%; /*устанавливаем значение 100% чтобы ссылка подчёркивалась полностью*/
}



.header__item a:hover{
    color: var(--brown-color);
}

.header__button {
    margin-right: 35px;
    background-color: transparent;
    color: var(--white-color);
    border: 3px solid var(--white-color);
    font-size: 25px;
    padding: 10px 40px;
    cursor: pointer;
    outline: 2px solid transparent;
    outline-offset: 3px ;
    transition: background-color .2s ease-in-out, color .2s ease-in-out ;
}

.header__button:hover{
background-color: var(--white-color);
color: #0e1a20;
}

.header__button:focus-visible{
outline-color: white;
}

.header__line{
    background-color: var(--brown-color);
    width: 1200px;
    height: 3px;
}

.modal{
    position: fixed;
    inset: 0;
    background-color: rgba(0,0,0, 0.5);
    cursor: pointer;
    padding: 30px;
    overflow-y: auto;
    display: none;
    z-index: 5;
}

.modal__main{
    position: relative;
    max-width: 600px;
    background-color: azure;
    margin: auto;
    color: black;
    border-radius: 16px;
    padding: 30px;
    cursor: default;
}

.modal__title{
margin-bottom: 30px;
}

.modal__close{
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-size: 22px;
    position: absolute;
    top: 10px;
    right: 10px;
    outline: 1px solid transparent;
    outline-offset: 3px;
    transition: outline-color .15s ease-in-out;
    border: 3px;
    padding: 0;
    text-align: center;
    display: block;
    width: 30px;
    height: 30px;
}

.modal__close:focus-visible{
    outline-color: black;
}

.main__bg {
    background-image: url(/img/bgheader.jpg);
    background-attachment: fixed;
    min-height: 843px;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    color: var(--white-color);
    font-size: 25px;
    align-items: center;
    position: relative;
    z-index: 1;
}
.main__content {
    width: 796px;
    height: 237px ;
    padding-top: 130px;
    padding-left: 105px;
}
.main__text {
    position: relative;
    z-index: 3;
    line-height: 30px;
}

.main__mask {
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,.6);
    z-index: 2;
}

/* О НАС */
.about {
    margin: 0;
    padding: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--bg-color);
}

.about__title {
    color: var(--white-color);
    font-size: 50px;
    padding-top: 30px;
    margin-bottom: 30px;
    text-transform: uppercase;
}

.about__line {
    background-color: var(--brown-color);
    width: 1200px;
    height: 3px;
    align-self: flex-end;

}

.about__text {
    color: var(--white-color);
    font-size: 25px;
    text-align: center;
    max-width: 1023px;
    margin-bottom: 50px;
}

/* slider*/

.gallery {
    width: 100%;
}

.gallery-container {
    display: flex;
    align-items: center;
    height: 685px;
    margin: 0 auto;
    max-width: 1500px;
    position: relative;
}

.gallery-item {
    height: 200px;
    opacity: 0;
    position: absolute;
    transition: all 0.3s ease-in-out;
    width: 330px;
    z-index: 0;
    background-size: contain;
}

.gallery-item-1 {
    left: 15%;
    opacity: 0;
    transform: translateX(-50%);
}

.gallery-item-2,
.gallery-item-4 {
    height: 375px;
    opacity: 0.4;
    width: 570px;
    z-index: 1;
}

.gallery-item-2 {
    left: 25%;
    transform: translateX(-50%);
}

.gallery-item-3 {
    box-shadow: -2px 5px 33px 6px rgba(0, 0, 0, 0.35);
    height: 600px;
    opacity: 1;
    left: 50%;
    transform: translateX(-50%);
    width: 860px;
    z-index: 2;
}

.gallery-item-4 {
    left: 75%;
    transform: translateX(-50%);
}

.gallery-item-5 {
    left: 85%;
    opacity: 0;
    transform: translateX(-50%);
}



.gallery-controls {
}


.gallery-controls button {
    background-color: transparent;
    border: 0;
    cursor: pointer;
}

.gallery-controls-button:focus {
    outline: none;
}

.gallery-controls-previous {
    position: relative;
}

.gallery-controls-previous {
    border: solid var(--white-color);
    border-width: 0 5px 5px 0;
    display: inline-block;
    height: 5px;
    padding: 10px;
    position: absolute;
    top: 318px;
    transform: rotate(135deg) translateY(-50%);
    transition: left 0.15s ease-in-out;
    width: 5px;
}

.gallery-controls-previous:hover {
    border: solid var(--brown-color);
    border-width: 0 5px 5px 0;
    cursor: pointer;

}



.gallery-controls-next {
    position: relative;
}

.gallery-controls-next {
    border: solid var(--white-color);
    border-width: 0 5px 5px 0;
    display: inline-block;
    height: 5px;
    padding: 10px;
    position: absolute;
    right: -30px;
    top: 339px;
    transform: rotate(-45deg) translateY(-50%);
    transition: right 0.15s ease-in-out;
    width: 5px;

}

.gallery-controls-next:hover {
    border: solid var(--brown-color);
    border-width: 0 5px 5px 0;
    cursor: pointer;
}



.gallery-nav {
    bottom: -15px;
    display: flex;
    justify-content: center;
    list-style: none;
    padding: 0;
    position: absolute;
    width: 100%;
}

.gallery-nav li {
    background: #ccc;
    border-radius: 50%;
    height: 10px;
    margin: 0 16px;
    width: 10px;
}

.gallery-nav li.gallery-item-selected {
    background: #555;
}

/* о нас два*/

.about__second {
    background-color: var(--bg-color);
    min-height: 1080px;
    display: flex;
}
.about__second-left {
    min-width: 1193px;
    display: flex;
    flex-direction: column;
}
.about__second-item {
    padding-left: 61px;
    width: 600px;
}

.about__second-title {
    text-transform: uppercase;
    font-weight: 400;
    font-size: 50px;
    margin-bottom: 20px;
    color: var(--brown-color);
}

.about__second-text {
    font-size: 25px;
    color: var(--white-color);
}

.about__second-line1-cont{
display: flex;
justify-content: end;
}

.about__second-line1 {
    background-color: var(--brown-color);
    height: 3px;
    width: 900px;
}

.about__second-line2 {
    background-color: var(--brown-color);
    width: 900px;
    height: 3px;
}


.idea {
padding-top: 50px;
margin-bottom: 60px;
}

.title1{

}

.process {
    padding-top: 60px;
    margin-bottom: 60px;
    align-self: flex-end ;
}

.process-p{
    margin-right: 60px;
    text-align:right;
}

.title2{
margin-bottom: 30px;
}

.result {
    padding-top: 60px;
}

.title3{

}

.about__second-right {
width: 100%;
background-image: url(/img/about2img.png) ;
background-repeat: no-repeat;
background-size: cover;
}

/*about second end*/



/*Услуги*/
.services {
    background-color: var(--bg-color);
    min-height: 1080px;
}

.services__h2{
    text-transform: uppercase;
    font-size: 50px;
    font-weight: 400;
    color: var(--white-color);
    text-align: center;
    margin-bottom: 52px;
    padding-top: 50px;
}

.services__line {
    position: relative;
    right: 82px;
    background-color: var(--brown-color);
    width: 1200px;
    height: 3px;
    margin-bottom: 170px;
}

.services__grid-cont {
    margin: 0 auto;
    max-width: 1740px;
}


.services__grid {
    color: var(--white-color);
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2,1fr);
    gap: 180px 115px;    
}
.services__item {
}

.services__item:hover{
    color: var(--brown-color);
}

.services__title {
    text-align: center;
    font-size: 50px;
    font-weight: 400;
    margin-bottom: 20px;
}
.services__text {
    text-align: center;
    font-size: 25px;
}