@font-face {
	font-family: 'Century Gothic';
	src: url('../fonts/century_gothic.eot'); /* IE 9 Compatibility Mode */
	src: url('../fonts/century_gothic.eot?#iefix') format('embedded-opentype'), /* IE < 9 */
		url('../fonts/century_gothic.woff2') format('woff2'), /* Super Modern Browsers */
		url('../fonts/century_gothic.woff') format('woff'), /* Firefox >= 3.6, any other modern browser */
		url('../fonts/century_gothic.ttf') format('truetype'), /* Safari, Android, iOS */
		url('../fonts/century_gothic.svg#century_gothic') format('svg'); /* Chrome < 4, Legacy iOS */
}

:root {
--bg-color:#0e1a20;
--brown-color:#846743;
--white-color:#e8e8e8;
}

html {
    box-sizing: border-box;
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    margin: 0;
    font-family: 'Century Gothic';
}

main {
    display: block;
}

h1,h2,h3,h4,h5,h6{
    margin: 0;
}

p{
    margin: 0;
}

hr {
    box-sizing: content-box;
    height: 0;
    overflow: visible;
}



pre {
    font-family: monospace, monospace;
    font-size: 1em;
}



a {
    background-color: transparent;
}



abbr[title] {
    border-bottom: none;
    text-decoration: underline;
    text-decoration: underline dotted;
}

b,
strong {
    font-weight: bolder;
}

code,
kbd,
samp {
    font-family: monospace, monospace;
    font-size: 1em;
}

small {
    font-size: 80%;
}

sub,
sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}

sub {
    bottom: -0.25em;
}

sup {
    top: -0.5em;
}

img {
    border-style: none;
}

button,
input,
optgroup,
select,
textarea {
    font-family: inherit;
    font-size: 100%;
    line-height: 1.15;
    margin: 0;
}

button,
input {
    overflow: visible;
}



button,
select {
    text-transform: none;
}


button,
[type="button"],
[type="reset"],
[type="submit"] {
    -webkit-appearance: button;
}

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
    border-style: none;
    padding: 0;
}

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
    outline: 1px dotted ButtonText;
}

fieldset {
    padding: 0.35em 0.75em 0.625em;
}

legend {
    box-sizing: border-box;
    color: inherit;
    display: table;
    max-width: 100%;
    padding: 0;
    white-space: normal;
}

progress {
    vertical-align: baseline;
}

textarea {
    overflow: auto;
}

[type="checkbox"],
[type="radio"] {
    box-sizing: border-box;
    padding: 0;
}


[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
    height: auto;
}

[type="search"] {
    -webkit-appearance: textfield;
    outline-offset: -2px;
}

[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
}

::-webkit-file-upload-button {
    -webkit-appearance: button;
    font: inherit;
}

details {
    display: block;
}

summary {
    display: list-item;
}

template {
    display: none;
}

[hidden] {
    display: none;
}


.header {
background-color: var(--bg-color);
max-height: 153px ;
}

.header__flex {
display: flex;
justify-content: space-between;
align-items: center;
}
.header__logo {
    padding-top: 20px;
    padding-left: 50px;
}
.header__flex-items {
    display: flex;
    
}
.header__item  {
    color: var(--white-color);
    margin-right: 60px;
    font-size: 25px;
    
}

.header__item a {
    position: relative;
	color: var(--white-color); /*задаём цвет ссылки*/
	cursor: pointer;
	line-height: 1; /*задаём высоту строки*/
	text-decoration: none; /*убираем подчёркивание*/
}

.header__item a:after {
	display: block;
	position: absolute;
	left: 0; /*изменить на right:0;, чтобы изменить направление подчёркивания */
	width: 0;/*задаём длинну линии до наведения курсора*/
	height: 2px; /*задаём ширину линии*/
	background-color: var(--brown-color); /*задаём цвет линии*/
	content: "";
	transition: width 0.3s ease-out; /*задаём время анимации*/
}

.header__item a:hover:after,
.header__item a:focus:after {
	width: 100%; /*устанавливаем значение 100% чтобы ссылка подчёркивалась полностью*/
}



.header__item a:hover{
    color: var(--brown-color);
}

.header__button {
    margin-right: 35px;
    background-color: transparent;
    color: var(--white-color);
    border: 3px solid var(--white-color);
    font-size: 25px;
    padding: 10px 40px;
    cursor: pointer;
    outline: 2px solid transparent;
    outline-offset: 3px ;
    transition: background-color .2s ease-in-out, color .2s ease-in-out ;
}

.header__button:hover{
background-color: var(--white-color);
color: #0e1a20;
}

.header__button:focus-visible{
outline-color: white;
}

.header__line{
    background-color: var(--brown-color);
    width: 1150px;
    height: 4px;
}

.modal{
    position: fixed;
    inset: 0;
    background-color: rgba(0,0,0, 0.5);
    cursor: pointer;
    padding: 30px;
    overflow-y: auto;
    display: none;
    z-index: 5;
}

.modal__main{
    position: relative;
    max-width: 600px;
    background-color: azure;
    margin: auto;
    color: black;
    border-radius: 16px;
    padding: 30px;
    cursor: default;
}

.modal__title{
margin-bottom: 30px;
}

.modal__close{
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-size: 22px;
    position: absolute;
    top: 10px;
    right: 10px;
    outline: 1px solid transparent;
    outline-offset: 3px;
    transition: outline-color .15s ease-in-out;
    border: 3px;
    padding: 0;
    text-align: center;
    display: block;
    width: 30px;
    height: 30px;
}

.modal__close:focus-visible{
    outline-color: black;
}

.main__bg {
    background-image: url(/img/bgheader.jpg);
    background-attachment: fixed;
    min-height: 843px;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    color: var(--white-color);
    font-size: 25px;
    align-items: center;
    position: relative;
    z-index: 1;
}
.main__content {
    width: 796px;
    height: 237px ;
    padding-top: 130px;
    padding-left: 105px;
}
.main__text {
    position: relative;
    z-index: 3;
    line-height: 30px;
}

.main__mask {
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,.6);
    z-index: 2;
}


.about {
background: var(--bg-color);
min-height: 1077px;
}

.about__top{
position: relative;
}


.about__title {
    color: var(--white-color);
text-align: center;
font-size: 50px;
padding-top: 50px;
margin-bottom: 50px;
}
.about__line {
    position: absolute;
    background-color: var(--brown-color);
    width: 1150px;
    height: 4px;
    right: 1px;
    
}

.about__line{
    
}

.about__text{
    margin-top: 30px;
}

/* slider*/
.all{
}

#slider { /*положение слайдера*/
    position: relative;
	text-align: center;
    top: 20px;
}

#slider{ /*центровка слайдера*/
	margin: 0 auto;
}

#slides article{ /*все изображения справа друг от друга*/
	width: 20%;
	float: left;
}

#slides .image{ /*устанавливает общий размер блока с изображениями*/
	width: 500%;
	line-height: 0;
}

#overflow{ /*скрывает все, что находится за пределами этого блока*/
	width: 100%;
	overflow: hidden;
}

article img{ /*размер изображений слайдера*/
	width: 100%;
}

#desktop:checked ~ #slider{ /*размер всего слайдера*/
	max-width: 1100px; /*максимальнная длинна*/
}

/*настройка переключения и положения для левой стрелки*/
/*если свич1-5 активны, то идет обращение к лейблу из блока с id контролс*/
#switch1:checked ~ #controls label:nth-child(5), 
#switch2:checked ~ #controls label:nth-child(1),
#switch3:checked ~ #controls label:nth-child(2),
#switch4:checked ~ #controls label:nth-child(3),
#switch5:checked ~ #controls label:nth-child(4){
	background: url('/img/prev.png') no-repeat; /*заливка фона картинкой без повторений*/
	float: left;
	margin: 0 0 0 -84px; /*сдвиг влево*/
	display: block;
	height: 68px;
	width: 68px;
}

/*настройка переключения и положения для правой стрелки*/
#switch1:checked ~ #controls label:nth-child(2), 
#switch2:checked ~ #controls label:nth-child(3),
#switch3:checked ~ #controls label:nth-child(4),
#switch4:checked ~ #controls label:nth-child(5),
#switch5:checked ~ #controls label:nth-child(1){
	background: url('/img/next.png') no-repeat; /*заливка фона картинкой без повторений*/
	float: right;
	margin: 0 -84px 0 0; /*сдвиг вправо*/
	display: block;
	height: 68px;
	width: 68px;
}

label, a{ /*при наведении на стрелки или переключатели - курсор изменится*/
	cursor: pointer;
}

.all input{ /*скрывает стандартные инпуты (чекбоксы) на странице*/
	display: none;
}

/*позиция изображения при активации переключателя*/
#switch1:checked ~ #slides .image{
	margin-left: 0;
}

#switch2:checked ~ #slides .image{
	margin-left: -100%;
}

#switch3:checked ~ #slides .image{
	margin-left: -200%;
}

#switch4:checked ~ #slides .image{
	margin-left: -300%;
}

#switch5:checked ~ #slides .image{
	margin-left: -400%;
}

#controls{ /*положение блока всех управляющих элементов*/
	margin: -25% 0 0 0;
	width: 100%;
	height: 50px;
}

#active label{ /*стиль отдельного переключателя*/
	border-radius: 10px; /*скругление углов*/
	display: inline-block; /*расположение в строку*/
	width: 15px;
	height: 15px;
	background: #bbb;
}

#active{ /*расположение блока с переключателями*/
	margin: 20% 0 0;
	text-align: center;
}

#active label:hover{ /*поведение чекбокса при наведении*/
	background: #76c8ff;
	border-color: #777 !important; /*выполнение в любом случае*/
}

/*цвет активного лейбла при активации чекбокса*/
#switch1:checked ~ #active label:nth-child(1),
#switch2:checked ~ #active label:nth-child(2),
#switch3:checked ~ #active label:nth-child(3),
#switch4:checked ~ #active label:nth-child(4),
#switch5:checked ~ #active label:nth-child(5){
	background: #18a3dd;
	border-color: #18a3dd !important;
}

#slides .image{ /*анимация пролистывания изображений*/
	transition: all 800ms cubic-bezier(0.770, 0.000, 0.175, 1.000);
}

#controls label:hover{ /*прозрачность стрелок при наведении*/
	opacity: 0.6;
}

#controls label{ /*прозрачность стрелок при отводе курсора*/
	transition: opacity 0.2s ease-out;
}

